body{
    background-color: black;
}

#container{
    position: absolute;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
}

#canvas1{
    position: relative;
    height: 700px;
    width: 800px;
    margin-bottom: 3%;
}

#slider{
    width: 80%;
}

p{
    color: white;
    margin-left: 18%;
    font-size: 20px;
}