body{
    background-color: rgb(249, 184, 98);
}

#canvas1 ,#canvas2, #canvas3 ,#canvas4{
    border: 3px solid black;
    height: 700px;
    width: 300px;
    position: absolute;
}

#canvas1{
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

#canvas2{
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

#canvas3{
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#canvas4{
    left: 75%;
    top: 50%;
    transform: translateY(-50%);
}